
@{
    ViewBag.Title = "vMiasto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>vMiasto</h2>

<input id="idMiasto" type="text" /> <input id="Nazwa" type="text" />
<br />

<input id="getMiasto" type="button" value="Znajdź miasto po Id" />